#bemVindos {
	color: greenyellow;
	font-size: 20px;
	font-weight: 600;
}

/* 1 */
.colorBlue {
	color: rgb(0, 153, 255);
}

/* 2 */
.fontMedium {
	font-size: 18px;
}

/* 3 */
/* css aplicado ao elemento que contenha ambas as classes */
.colorBlue.fontMedium {
	color: rgb(0, 4, 255);
	font-size: 20px;
}

/* 4 */
/* css aplicado a todos os elementos filhos que tenham a class "fontMedium" em que o pai tenha a class "colorBlue" */
.colorBlue .fontMedium {
	color: rgb(0, 133, 51);
	font-size: 20px;
}

/* START - classes seletores */

/* estilo aplicado a todos os paragrados */
p {
	color: orange;
}

/* estilo aplicado a todos os paragrados e h2 */
p,
h2 {
	color: orange;
}

/* css aplicados a p's dentro de div's */
div p {
	color: orangered;
}

/* css aplicados a p's (filhos diretos) dentro de div's */
div > p {
	color: greenyellow;
}

/* css aplicados a p's que estejam ao mesmo nivel que uma div's */
div ~ p {
	color: rgb(248, 47, 255);
}

/* css aplicados a p's que que sejam filhos diretos (adjacentes) de uma div's */
div + p {
	color: rgb(212, 198, 0);
}

/* END  - classes seletores */

/* START  - Pseudo Classes 

	:hover
	:focus

	:after
	:before
	:empty

	:active
	:checked
	:disabled
	:required
*/
button:disabled {
	background-color: aquamarine;
}

p:hover {
	background-color: lightblue;
}

/* END  - Pseudo Classes */

/* START  - Display Flex  */
.bigBox {
	display: flex;
}

.box {
	text-align: center;
	padding: 50px;
	font-size: 20px;
	font-weight: 600;
	width: 50%;
	height: 150px;
}

.box1 {
	background-color: chocolate;
}
.box2 {
	background-color: darkmagenta;
}
/* END  - Display Flex  */

/* START - AFTER and BEFORE  */
a[href$='pdf']::before {
	content: '[pdf] ---> ';
}

a[href$='png']::after {
	content: ' < ---- [png] ';
}

a[href$='doc']::before {
	content: 'f26e';
}

/* END  - AFTER and BEFORE  */

body {
	background-color: #5e1515;
}

/* START  - MEDIA QUERIES  */
/* CSS quando a página tem pelo menos 550px*/
@media screen and (max-width: 480px) {
	body {
		background-color: #7c7b7b;
	}
}

/* CSS quando a página tem pelo menos 550px*/
@media screen and (max-width: 720px) {
	body {
		background-color: #7c7b7b;
	}
}
/* END  - MEDIA QUERIES  */
